.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
  margin-bottom: 2rem;
  border-top: 1px solid rgba(143, 140, 140, 0.227);
  border-bottom: 1px solid rgba(143, 140, 140, 0.227);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  line-height: 0.2rem;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}

.about,
.service,
.news {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.about h3,
.service h3,
.news h3 {
  font-weight: bold;
}

.subscribe {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: normal;
  margin-top: -0.5rem;
}

.subscribe-input {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.subscribe-input button {
  background-color: #ffffff;
  color: #000000;
  padding: 0.5rem 1rem;
  border: solid 0.5px;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 700;
  height: 2.2rem;
  align-self: center;
  margin-top: 0.6rem;
}

.email-field {
  width: 90%;
}

.copyright {
  margin-left: 6.5rem;
  margin-right: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rights {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: small;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: -1.4rem;
  margin-bottom: 0.5rem;
}
